@charset "UTF-8";
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrap {
    position: relative;
    width: 100%;
    min-width: 320px;
}


/* header */

header {
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 70px;
    z-index: 99999;
    background-color: #fff;
}


/* no_touch */

.no_touch {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background: #000;
    opacity: 0.5;
}

.wrap #nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

.wrap #nav .header_logo {
    position: relative;
    width: 60px;
    height: 45.5px;
    float: left;
    padding-top: 12px;
    padding-left: 144px;
}

#nav {
    width: 100%;
    position: relative;
    height: 70px;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 70px, #f4f4f4 71px);
    transition: all 0.7s;
}

#nav:hover {
    height: 280px;
}

.gnb {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 13;
    line-height: 70px;
}

.gnb a {
    color: #555;
    text-align: center;
    font-size: 18px;
}

.gnb a:hover {
    color: #00833f;
}

.gnb li {
    width: 20%;
    text-align: center;
}

.gnb li.depth1 {
    margin-right: -8%;
}

.gnb li ul a {
    color: #8a8a8a;
    font-size: 14px;
}

.gnb li .depth2 {
    line-height: 45px;
}

.gnb li .depth2 li {
    width: 100%;
}

.wrap .header_search {
    position: absolute;
    top: 23px;
    right: 155px;
}

body .wrap .header_search a {
    position: relative;
    display: block;
}

body .wrap .header_search a img {
    width: 22px;
    height: 20px;
}

body .wrap .search_box {
    position: absolute;
    top: 17px;
    right: 50%;
    margin-right: -33%;
    width: 10%;
    height: 36px;
    line-height: 60px;
    display: none;
}

body .wrap .search_box form {
    height: 100%;
}

body .wrap .search_box form fieldset {
    height: 34px;
}

body .wrap .search_box .search_inner {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    background-color: #00833f;
    overflow: hidden;
    transition: width 1s, background 1s;
}

body .wrap .search_box .search_inner .search_input {
    float: left;
    width: 93%;
    height: 36px;
    line-height: 36px;
    border: 0px;
    font-size: 16px;
    text-indent: 20px;
    background: transparent;
    color: #fff;
}

body .wrap .search_box .search_inner span {
    position: absolute;
    top: 0px;
    right: 0;
    display: inline-block;
    width: 42px;
    height: 100%;
}

body .wrap .search_box .search_inner span .closing_btn {
    display: block;
    margin: 8px auto 0;
    width: 20px;
}


/* top button */

#back-to-top {
    position: fixed;
    top: 850px;
    left: 50%;
    margin-left: 470px;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    background: #fff url(../image/btn_top.png) no-repeat center 7px;
    text-align: center;
    color: #a6a6a6;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

#back-to-top.visible {
    opacity: 1;
}

#back-to-top:hover {
    background-color: rgba(255, 255, 255, 1);
}


/* footer */

footer {
    position: relative;
    width: 100%;
    min-width: 320px;
}

footer .main_footer_top {
    background-color: #f9f9f9;
    height: 86px;
    border-bottom: 1px solid #e6e6e6;
    display: block;
}

footer .main_footer_top .main_footer_top_area {
    position: relative;
    margin: 0 auto;
    width: 1020px;
}

.main_footer_top .main_footer_top_area .main_footer_langs {
    position: absolute;
    top: 29px;
    left: 0px;
    overflow: hidden;
}

.main_footer_top .main_footer_top_area .main_footer_langs a {
    display: block;
    margin-right: 12px;
    float: left;
    width: 30px;
    height: 30px;
}

.main_footer_top .main_footer_top_area .footer_lang_bt1 {
    background: url(../image/btn_footer_lang_1.png) no-repeat center 0;
}

.main_footer_top .main_footer_top_area .footer_lang_bt2 {
    background: url(../image/btn_footer_lang_2.png) no-repeat center 0;
}

.main_footer_top .main_footer_top_area .footer_lang_bt3 {
    background: url(../image/btn_footer_lang_3.png) no-repeat center 0;
}

.main_footer_top .main_footer_top_area .footer_lang_bt4 {
    background: url(../image/btn_footer_lang_4.png) no-repeat center 0;
}

.main_footer_top .main_footer_top_area .footer_logo {
    position: relative;
    top: 15px;
    left: 50%;
    margin-left: -35.5px;
    width: 71px;
    overflow: hidden;
}

.main_footer_top .main_footer_top_area .footer_logo_img {
    display: block;
    width: 71px;
}

.main_footer_top .main_footer_top_area .main_footer_sns {
    position: absolute;
    top: 32px;
    right: 0px;
    height: 30px;
    overflow: hidden;
}

.main_footer_top .main_footer_top_area .main_footer_sns a {
    float: left;
    width: 32px;
    height: 30px;
    line-height: 30px;
}

.main_footer_top .main_footer_top_area .main_footer_sns .footer_sns1 {
    background: url(../image/btn_link_1.png) no-repeat center top;
}

.main_footer_top .main_footer_top_area .main_footer_sns .footer_sns2 {
    background: url(../image/btn_link_3.png) no-repeat center top;
}

.main_footer_top .main_footer_top_area .main_footer_sns .footer_sns3 {
    background: url(../image/btn_link_4.png) no-repeat center top;
}

.main_footer_top .footer_lang_bt1:hover,
.main_footer_top .footer_lang_bt2:hover,
.main_footer_top .footer_lang_bt3:hover,
.main_footer_top .footer_lang_bt4:hover,
.main_footer_top .main_footer_sns .footer_sns1:hover,
.main_footer_top .main_footer_sns .footer_sns2:hover,
.main_footer_top .main_footer_sns .footer_sns3:hover {
    background-position: center bottom;
}

.main_footer_top .main_footer_top_area .main_footer_sns span {
    float: left;
    padding: 0 3px;
    height: 30px;
    color: #bababa;
    line-height: 30px;
}

footer .main_footer_bottom {
    padding: 25px 0 36px;
    text-align: center;
}

footer .main_footer_bottom .policy {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    text-align: center;
    color: #6e6e6e;
    cursor: pointer;
}

footer .main_footer_bottom address {
    padding-top: 15px;
    font-size: 13px;
    line-height: 21px;
    font-style: normal;
    color: #6e6e6e;
}

footer .main_footer_bottom .copyrights {
    padding-top: 15px;
    display: inline-block;
}