@media screen and (min-width: 768px) and (max-width: 979px) {
  /* 가로 768~979 태블릿, 랩탑 */
  .wrap {
    width: 100%;
    max-width: 979px;
  }
  header {
    width: 100%;
    max-width: 979px;
  }
  .wrap #nav {
    max-width: 979px;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 15%;
    text-align: center;
    transition: 0.3s ease-in-out;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .main_contents .main_top_content ul {
    position: relative;
    width: 100%;
    max-width: 979px;
    left: -11%;
  }
  .main_contents .main_top_scroll {
    position: relative;
  }
  .wrap .main_contents img.main_top_area {
    position: relative;
    display: block;
    max-width: 979px;
    top: 70px;
  }
  .wrap #nav .header_logo {
    padding-left: 60px;
  }
  .wrap .header_search {
    right: 45px;
  }
  .main_contents .main_top_content .slide li {
    height: 400px;
  }
  .main_contents .main_top_content {
    height: auto;
    max-width: 979px;
    width: 100%;
  }
  .main_contents .main_mid_area {
    width: 100%;
    height: auto;
    max-width: 979px;
  }
  .slick-prev:before {
    width: 75px;
    height: 45px;
    position: relative;
    right: 20px;
    bottom: 150px;
  }
  .wrap .main_contents img.main_mid_img {
    max-width: 989px;
    width: 100%;
    height: auto;
  }
  .wrap .main_contents .main_mid_area .slick_photo li {
    height: auto;
  }
  .wrap .main_mid_area .main_mid_btn {
    margin: 50px auto;
    max-width: 979px;
    width: 100%;
  }
  .main_bottom_area .main_bottom_content .uppertext {
    padding: 70px 0 10px;
  }
  .main_bottom_area .main_bottom_content {
    padding-bottom: 60px;
  }
  body .wrap .main_bottom_area p.mid_box a {
    margin-top: 40px;
  }
  footer .main_footer_top .main_footer_top_area {
    max-width: 979px;
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 10%;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 10%;
  }
}
@media screen and (min-width: 661px) and (max-width: 767px) {
  /* 휴대폰~태블릿 max767 */
  .wrap {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .wrap #nav {
    width: 100%;
  }
  .gnb li {
    width: 16%;
  }
  .gnb li.depth1 {
    margin-right: -16px;
  }
  .wrap #nav .header_logo {
    padding-left: 28px;
  }
  body .wrap .header_search a img {
    position: relative;
    left: 120px;
  }
  .main_contents .main_top_content {
    width: 100%;
    height: auto;
  }
  .main_contents .main_top_content .slide {
    width: 3835px;
  }
  .main_contents .main_top_content ul {
    position: relative;
    left: -13%;
  }
  .main_contents .main_top_content .slide li {
    width: 767px;
    height: auto;
  }
  .wrap .main_contents img.main_top_area {
    width: 100%;
  }
  .main_contents .main_top_scroll {
    position: relative;
    left: 0%;
  }
  .main_contents .main_mid_area {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
  }
  .main_contents .main_mid_area .slide {
    width: 100%;
  }
  .wrap .main_contents img.main_mid_img {
    max-width: 767px;
    width: 100%;
    height: auto;
  }
  .wrap .main_contents .main_mid_area .slick_photo li {
    height: 250px;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_bottom_area .main_bottom_content .uppertext {
    padding: 60px 0 10px;
  }
  body .wrap .main_bottom_area p.mid_box a {
    margin-top: 40px;
  }
  .main_bottom_area .main_bottom_content {
    padding-bottom: 50px;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 60px;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 70px;
  }
}
@media screen and (min-width: 481px) and (max-width: 660px) {
  .wrap {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .wrap #nav {
    width: 100%;
  }
  .gnb li {
    width: 13%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 12px;
  }
  .gnb li ul a {
    font-size: 14px;
    letter-spacing: -1px;
  }
  .wrap #nav .header_logo {
    padding-left: 13px;
  }
  body .wrap .header_search a img {
    position: relative;
    right: -115px;
  }
  .wrap .main_contents {
    width: 100%;
  }
  .main_contents .main_top_content {
    width: 100%;
    height: auto;
  }
  .main_contents .main_top_content .slide {
    width: 3300px;
  }
  .main_contents .main_top_content ul {
    position: relative;
    left: -5%;
  }
  .main_contents .main_top_content .slide li {
    width: 660px;
    height: auto;
  }
  .wrap .main_contents img.main_top_area {
    width: 100%;
  }
  .main_top_content .barbtn .bar {
    width: 30px;
  }
  .main_top_content .barbtn .barColor {
    width: 30px;
  }
  .main_contents .main_top_scroll {
    width: 12px;
    height: 17px;
    margin: 37px auto 0px;
    padding: 12px 15px;
  }
  .main_contents .main_downscroll {
    margin-top: 0;
  }
  .main_contents .main_mid_area {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
  }
  .main_contents .main_mid_area .slide {
    width: 100%;
  }
  .wrap .main_contents img.main_mid_img {
    max-width: 660px;
    width: 100%;
    height: auto;
  }
  .wrap .main_mid_area .main_mid_btn {
    width: 100%;
    margin: 5px auto 40px;
    display: block;
  }
  .wrap .main_mid_area .main_mid_btn > div {
    margin: 30px auto 40px;
  }
  .wrap .main_mid_area .main_mid_btn1 img {
    width: 175px;
  }
  .wrap .main_mid_area .main_mid_btn2 img,
  .wrap .main_mid_area .main_mid_btn3 img {
    width: 85px;
  }
  .wrap .main_mid_area p.mid_box {
    font-size: 15px;
    width: 90px;
  }
  .wrap .main_mid_area p {
    font-size: 0.8em;
  }
  .wrap .main_mid_area p.mid_head {
    padding-top: 15px;
  }
  .wrap .main_contents .main_mid_area .slick_photo li {
    height: auto;
    margin-bottom: 20px;
  }
  .wrap .main_mid_area p.mid_text {
    margin-top: -8px;
  }
  .main_bottom_area .main_bottom_content .uppertext {
    padding: 70px 0 10px;
    font-size: 20px;
  }
  .main_bottom_area .main_bottom_content .bottom_title {
    font-size: 50px;
    line-height: 60px;
  }
  .main_bottom_area .main_bottom_content .year {
    font-size: 28px;
    line-height: 65px;
  }
  .main_bottom_area .main_bottom_content .downertext {
    font-size: 17px;
    line-height: 25px;
  }
  body .wrap .main_bottom_area p.mid_box a {
    margin-top: 25px;
    width: 123px;
    height: 33px;
    border-radius: 20px;
    font-size: 15px;
  }
  .main_bottom_area .main_bottom_content {
    padding-bottom: 45px;
    width: 70%;
    margin: 0 auto;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 45px;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 45px;
  }
  footer .main_footer_bottom .policy {
    margin: -2px auto;
  }
  footer .main_footer_bottom address {
    font-size: 12px;
  }
  footer .main_footer_bottom {
    padding: 20px 0 30px;
  }
}
@media screen and (max-width: 480px) {
  /* 휴대폰 480 이하 */
  .wrap {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .wrap #nav {
    width: 100%;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 20%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .gnb a {
    font-size: 16px;
  }
  .gnb li ul a {
    color: #8a8a8a;
    font-size: 11.4px;
    letter-spacing: -1px;
  }
  .wrap #nav .header_logo {
    padding-left: 13px;
    display: none;
  }
  body .wrap .header_search a img {
    display: none;
  }
  .wrap .main_contents {
    width: 100%;
  }
  .main_contents .main_top_content {
    width: 100%;
    height: auto;
  }
  .main_contents .main_top_content .slide {
    width: 2400px;
  }
  .main_contents .main_top_content ul {
    position: relative;
    left: -10%;
  }
  .main_contents .main_top_content .slide li {
    width: 480px;
    height: auto;
  }
  .wrap .main_contents img.main_top_area {
    width: 100%;
  }
  .main_top_content .barbtn .bar {
    width: 30px;
  }
  .main_top_content .barbtn .barColor {
    width: 30px;
  }
  .main_contents .main_top_scroll {
    display: none;
  }
  .main_contents .main_downscroll {
    display: none;
  }
  .main_contents .main_mid_area {
    width: 100%;
    height: auto;
    margin: 25px auto 0;
  }
  .main_contents .main_mid_area .slide {
    width: 100%;
  }
  .wrap .main_contents img.main_mid_img {
    max-width: 480px;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .wrap .main_mid_area .main_mid_btn {
    width: 100%;
    margin: 5px auto 40px;
    display: block;
  }
  .wrap .main_mid_area .main_mid_btn > div {
    margin: 30px auto 40px;
  }
  .wrap .main_mid_area .main_mid_btn1 img {
    width: 175px;
  }
  .wrap .main_mid_area .main_mid_btn2 img,
  .wrap .main_mid_area .main_mid_btn3 img {
    width: 85px;
  }
  .wrap .main_mid_area p.mid_box {
    font-size: 15px;
    width: 90px;
    margin: 3px auto;
  }
  .wrap .main_mid_area p {
    font-size: 0.8em;
  }
  .wrap .main_mid_area p.mid_head {
    padding-top: 15px;
  }
  .wrap .main_contents .main_mid_area .slick_photo li {
    height: auto;
    margin-bottom: 20px;
  }
  .wrap .main_mid_area p.mid_text {
    margin-top: -8px;
  }
  .main_bottom_area .main_bottom_content .uppertext {
    padding: 70px 0 10px;
    font-size: 20px;
  }
  .main_bottom_area .main_bottom_content .bottom_title {
    font-size: 51px;
    line-height: 60px;
  }
  .main_bottom_area .main_bottom_content .year {
    font-size: 28px;
    line-height: 65px;
  }
  .main_bottom_area .main_bottom_content .downertext {
    font-size: 15px;
    line-height: 20px;
  }
  body .wrap .main_bottom_area p.mid_box a {
    margin-top: 25px;
    width: 123px;
    height: 33px;
    border-radius: 20px;
    font-size: 15px;
  }
  .main_bottom_area .main_bottom_content {
    padding-bottom: 45px;
    width: 80%;
    margin: 0 auto;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 28px;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 48px;
  }
  footer .main_footer_bottom .policy {
    margin: -2px auto;
  }
  footer .main_footer_bottom address {
    font-size: 12px;
  }
  footer .main_footer_bottom {
    padding: 20px 0 30px;
  }
}
