@media screen and (min-width: 768px) and (max-width: 979px) {
  .wrap {
    width: 100%;
    max-width: 979px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 979px;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 13%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .wrap #nav .header_logo {
    padding-left: 45px;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 979px;
    height: auto;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    width: 100%;
    padding-bottom: 0;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_contents_logo_text {
    font-size: 15px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box {
    width: 94%;
    margin: 0 auto;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    p {
    font-size: 15px;
  }
  footer .main_footer_top {
    width: 100%;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 80px;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 80px;
  }
}
@media screen and (min-width: 661px) and (max-width: 767px) {
  .wrap {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 767px;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 15%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .wrap #nav .header_logo {
    padding-left: 45px;
  }
  body .wrap .header_search a img {
    display: none;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
    max-width: 767px;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    width: 100%;
    max-width: 767px;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 767px;
    height: auto;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box {
    width: 150px;
    margin-left: -33px;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_box_list
    span {
    font-size: 13px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_logo_box {
    width: 400px;
    margin-left: 38px;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_logo_box
    .sub_logo_list {
    margin: 15px 30px;
    width: 138px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_logo_box
    .sub_logo_list:nth-child(3) {
    clear: both;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_contents_logo_text {
    width: 75%;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box {
    width: 85%;
    margin: 0 auto;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list {
    margin-right: 0;
    width: 100%;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list
    .img_quality
    img {
    margin: 0 auto;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list:nth-child(3) {
    clear: both;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list
    p {
    font-size: 18px;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    max-width: 767px;
    width: 100%;
    padding: 0;
  }
  footer .main_footer_top .main_footer_top_area {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 10%;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 13%;
  }
}
@media screen and (min-width: 481px) and (max-width: 660px) {
  .wrap {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 660px;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 15%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .gnb li ul a {
    font-size: 11px;
}
  .wrap #nav .header_logo {
    padding-left: 45px;
  }
  body .wrap .header_search a img {
    display: none;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
    max-width: 660px;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    width: 100%;
    max-width: 660px;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 660px;
    height: auto;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area {
    width: 70%;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box {
    margin-left: -33px;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box
    img {
    width: 100%;
    margin: 0 0 0 20px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_box_list
    span {
    font-size: 15px;
    padding-top: 0;
    width: 125px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_logo_box {
    width: 400px;
    margin-left: 5px;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_logo_box
    .sub_logo_list {
    margin: 15px 30px;
    width: 138px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_logo_box
    .sub_logo_list:nth-child(3) {
    clear: both;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_contents_logo_title {
    padding: 55px 0 50px;
    font-size: 24px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_contents_logo_text {
    padding-top: 40px;
    font-size: 18px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box {
    width: 50%;
    margin: 0 auto;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list {
    margin-right: 0;
    width: 300px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list
    .img_quality
    img {
    margin: 0 auto;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list:nth-child(3) {
    clear: both;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list
    p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    max-width: 660px;
    width: 100%;
    padding: 0;
  }
  footer .main_footer_top .main_footer_top_area {
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 10%;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 13%;
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 480px;
    background: none;
    transition: none;
  }
  #nav:hover {
    height: 0;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 17%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: -10px;
    display: none;
  }
  .wrap #nav .header_logo {
    margin: 0px 73%;
    text-align: center;
    padding: 12px 183%;
  }
  body .wrap .header_search a img {
    display: none;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
    max-width: 480px;
    padding-bottom: 35px;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top h1 {
    font-size: 17px;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top h1 .kopub_L {
    font-size: 45px;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    width: 100%;
    max-width: 480px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_contents_bottom_text {
    font-size: 14px;
    width: 100%;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 480px;
    height: auto;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area {
    width: 70%;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .sub_list3,
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .sub_list5 {
    clear: both;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .sub_list_nomargin {
    margin-right: 5.8%;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box {
    margin-left: -33px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_box_list {
    width: 44%;
    margin: 0 8px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box
    img {
    width: 100%;
    margin: 0;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box
    .sub_img1 {
    left: 15px;
    top: 4px;
    position: relative;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box
    .sub_img2 {
    left: 10px;
    top: 4px;
    position: relative;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_list3
    .img_info_box
    .sub_img3 {
    left: 15px;
    top: 4px;
    position: relative;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box
    .sub_img4 {
    left: 22px;
    top: -2px;
    position: relative;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_info_box
    .sub_img5 {
    left: 22px;
    top: -2px;
    position: relative;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_list6
    .img_info_box
    .sub_img6 {
    left: 15px;
    top: -5px;
    position: relative;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_info_area
    .sub_img_box
    .img_box_list
    span {
    font-size: 15px;
    padding-top: 0;
    width: 125px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_logo_box {
    margin-left: -60px;
    overflow: visible;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_contents_logo_title {
    padding: 55px 0 50px;
    font-size: 19px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_logo_area
    .sub_contents_logo_text {
    font-size: 18px;
    margin-top: 100px;
    line-height: 32px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    p {
    width: 65%;
    font-size: 17px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box {
    width: 50%;
    margin: 0 auto;
    transition: 2s ease-in-out;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    p {
    width: 65%;
    font-size: 17px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list {
    width: 300px;
    margin-left: -34px;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list
    .img_quality
    img {
    margin: 0 auto;
    transform: scale(.8);
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list:nth-child(3) {
    clear: both;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_contents_quality_area
    .quality_list_box
    .quality_list
    p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    max-width: 480px;
    width: 100%;
    padding: 0;
  }
  footer .main_footer_top .main_footer_top_area {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 6%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs a {
    margin-right: 4px;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 8%;
  }
  footer .main_footer_bottom address {
    font-size: 12px;
  }
}
