@media screen and (min-width: 768px) and (max-width: 979px) {
  .wrap {
    width: 100%;
    max-width: 979px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 979px;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 14%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .gnb li ul a {
    font-size: 13px;
  }
  .wrap #nav .header_logo {
    padding-left: 45px;
  }
  body .wrap .header_search a img {
    position: relative;
    left: 73px;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 979px;
    height: auto;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    max-width: 979px;
    width: 85%;
    padding-bottom: 0;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_product_area
    .sub_product {
    width: 200px;
    transition: 2s ease-in-out;
  }
  .sub_contents_bottom
    .sub_product_area
    .sub_product
    .product_inner
    .product_img
    img {
    max-width: 85%;
    margin: 0 auto;
  }
  footer .main_footer_top {
    width: 100%;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 80px;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 80px;
  }
  .fr-thumbnails-horizontal .fr-thumbnails {
    bottom: 0 !important;
  }
  .fr-info-padder {
    top: 45px;
  }
  .fr-content-element {
    position: relative;
    top: 20px;
  }
}
@media screen and (min-width: 661px) and (max-width: 767px) {
  .wrap {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 767px;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 14%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .wrap #nav .header_logo {
    padding-left: 45px;
  }
  body .wrap .header_search a img {
    position: relative;
    left: 73px;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 767px;
    height: auto;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    max-width: 767px;
    width: 85%;
    padding-bottom: 0;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_product_area
    .sub_product {
    width: 200px;
    transition: 2s ease-in-out;
  }
  .sub_contents_bottom
    .sub_product_area
    .sub_product
    .product_inner
    .product_img
    img {
    max-width: 85%;
    margin: 0 auto;
  }
  footer .main_footer_top {
    width: 100%;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 80px;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 80px;
  }
  .fr-thumbnails-horizontal .fr-thumbnails {
    bottom: 0 !important;
  }
  .fr-info-padder {
    top: 45px;
  }
  .fr-content-element {
    position: relative;
    top: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 660px) {
  .wrap {
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 660px;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 14%;
    text-align: center;
  }
  .gnb li.depth1 {
    margin-right: 0;
  }
  .wrap #nav .header_logo {
    padding-left: 20px;
  }
  body .wrap .header_search a img {
    position: relative;
    left: 110px;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 660px;
    height: auto;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top h1 {
    font-size: 18px;
    line-height: 53px;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top h1 .kopub_L {
    font-size: 48px;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    max-width: 660px;
    width: 85%;
    padding-bottom: 0;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_product_area {
    justify-content: space-around;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_product_area
    .sub_product {
    width: 200px;
    transition: 2s ease-in-out;
  }
  .sub_contents_bottom
    .sub_product_area
    .sub_product
    .product_inner
    .product_img
    img {
    max-width: 85%;
    margin: 0 auto;
  }
  footer .main_footer_top {
    width: 100%;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 7%;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 7%;
  }
  .fr-thumbnails-horizontal .fr-thumbnails {
    bottom: 0 !important;
  }
  .fr-info-padder {
    top: 45px;
    width: 450px !important;
    right: 20% !important;
  }
  .fr-content-element {
    position: relative;
    top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .wrap {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    margin: 0 auto;
  }
  .wrap #nav {
    max-width: 480px;
    background: none;
    transition: none;
  }
  #nav:hover {
    height: 0;
  }
  .gnb {
    width: 100%;
    margin: auto;
  }
  .gnb li {
    width: 14%;
    text-align: center;
  }
  .gnb li.depth1 {
    display: none;
  }
  .wrap #nav .header_logo {
    margin: 0px 125%;
    text-align: center;
    padding: 12px 183%;
  }
  body .wrap .header_search a img {
    display: none;
  }
  .sub_contents_area .sub_top_image {
    width: 100%;
    max-width: 480px;
    height: auto;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
    right: 5%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top {
    width: 100%;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top h1 {
    font-size: 16px;
    line-height: 50px;
  }
  .sub_contents_area .sub_contents_inner .sub_contents_top h1 .kopub_L {
    font-size: 40px;
  }
  #sub_contents_area .sub_contents_inner .sub_contents_bottom {
    max-width: 480px;
    width: 85%;
    padding-bottom: 0;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_product_area {
    justify-content: space-around;
  }
  #sub_contents_area
    .sub_contents_inner
    .sub_contents_bottom
    .sub_product_area
    .sub_product {
    width: 200px;
    transition: 2s ease-in-out;
  }
  .sub_contents_bottom
    .sub_product_area
    .sub_product
    .product_inner
    .product_img
    img {
    max-width: 85%;
    margin: 0 auto;
  }
  footer .main_footer_top {
    width: 100%;
  }
  footer .main_footer_top .main_footer_top_area {
    width: 100%;
  }
  .main_footer_top .main_footer_top_area .main_footer_langs {
    left: 3%;
  }
  .main_footer_top .main_footer_top_area .main_footer_sns {
    right: 6%;
  }
  footer .main_footer_bottom address {
    font-size: 11px;
  }
  .fr-window-skin-fresco .fr-content-background {
    max-width: 480px;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
  }
  .fr-position-text {
    display: none;
  }
  .fr-close-background, .fr-close-icon {
    top: 25px !important;
  }
  .fr-info-padder {
    font-size: 1.4em;
    letter-spacing: 1.5px;
    line-height: 25px;
    width: 100%;
    right: 0;
  }
}