@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum_R', 'NanumSQ', "나눔스퀘어", sans-serif;
}
p{
    font-family: 'Nanum_L', 'NanumSQ', "나눔스퀘어", sans-serif;
}
.nanum_L {
    font-family:'Nanum_L', serif;
}
.nanum_B {
    font-family:'Nanum_B', serif;
}
.kopub_R {
    font-family:'KoPub_R', serif;
}
.kopub_B {
    font-family:'KoPub_B', serif;
}
.kopub_R {
    font-family:'KoPub_R', serif;
}
.kopub_L {
    font-family:'KoPub_L', serif;
}
.gudea_R {
    font-family:'Gudea_R', sans-serif;
}
.gudea_B {
    font-family:'Gudea_B', sans-serif;
}
button{
    border: 0;
    cursor: pointer;
}
img{
    border: 0;
}
a{
    text-decoration: none;
    color: #555;
}
ul,li{
    list-style: none;
}
img {
    display:block;
    height:auto;
}
.fl{float: left;}
.fr{float: right;}
.cd{clear: both;}
.cf{content: ''; display: block; clear: both;}
.alt {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}
input{vertical-align: middle;}