@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum_R', 'NanumSQ', "나눔스퀘어", sans-serif;
}

p {
    font-family: 'Nanum_L', 'NanumSQ', "나눔스퀘어", sans-serif;
}

.nanum_L {
    font-family: 'Nanum_L', serif;
}

.nanum_B {
    font-family: 'Nanum_B', serif;
}

.kopub_R {
    font-family: 'KoPub_R', serif;
}

.kopub_B {
    font-family: 'KoPub_B', serif;
}

.kopub_R {
    font-family: 'KoPub_R', serif;
}

.kopub_L {
    font-family: 'KoPub_L', serif;
}

.gudea_R {
    font-family: 'Gudea_R', sans-serif;
}

.gudea_B {
    font-family: 'Gudea_B', sans-serif;
}

button {
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #555;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    height: auto;
    border: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cd {
    clear: both;
}

.cf {
    content: '';
    display: block;
    clear: both;
}

.alt {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}

input {
    vertical-align: middle;
}

.nomargin_t {
    margin-top: 0;
}

.nomargin_r {
    margin-right: 0;
}

.nomargin_b {
    margin-bottom: 0;
}

.nomargin_l {
    margin-left: 0;
}

a:link {
    color: #000;
    text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
    vertical-align: baseline;
    word-break: keep-all;
    -webkit-text-size-adjust: none;
}