@charset "UTF-8";
/* contents */

.sub_contents_area {
  position: relative;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  max-width: 1900px;
  margin: 0 auto;
}

.sub_contents_area .sub_top_image {
  width: 100%;
  min-width: 320px;
  height: auto;
  position: relative;
  top: 70px;
  display: block;
  overflow: hidden;
}

.sub_contents_area .sub_contents_inner {
  position: relative;
}

.sub_contents_area .sub_contents_inner .sub_contents_top {
  position: relative;
  padding-bottom: 45px;
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  border-bottom: 1px solid #e4e0dd;
}

.sub_contents_area .sub_contents_inner .sub_contents_top .root_box {
  position: absolute;
  font-size: 12px;
  top: 90px;
  right: 3%;
}

.sub_contents_area .sub_contents_top .root_box a:first-child,
.sub_contents_area .sub_contents_top .root_box a:nth-child(2) {
  color: #cacaca;
}

.sub_contents_area .sub_contents_top h1 {
  padding-top: 110px;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  color: #555555;
}

.sub_contents_area .sub_contents_top h1 span {
  display: block;
  font-size: 50px;
  color: #000;
}

#sub_contents_area .sub_contents_inner .sub_contents_bottom {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  padding: 0 0 40px;
}

#sub_contents_area .sub_contents_inner .sub_product_area {
  position: relative;
  height: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sub_contents_area .sub_product_area .sub_product {
  width: 240px;
  padding: 0 0px 30px;
  box-sizing: border-box;
}
#sub_contents_area .sub_product_area .sub_product.thumb {
    display: none;
}

#sub_contents_area .sub_product_area .product_inner {
  position: relative;
  border: 1px solid #e7e7e7;
  width: 100%;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 15px;
}

#sub_contents_area .sub_product_area .product_inner .product_img img {
  width: 238px;
  filter: blur(0.7px);
}
#sub_contents_area .sub_product_area .product_inner:hover{
    border-color:  #00833f;
}
#sub_contents_area .sub_product_area .product_inner:hover img {
    transform: scale(1.1);
    transition: all ease-out 0.3s;
    filter: none;
}
#sub_contents_area .sub_product_area .product_inner:hover span.product_text {
    color: #00833f;
    font-weight: bold;
}
#sub_contents_area .sub_product_area .product_inner .text_inner {
  margin: 20px 0 10px;
}