@font-face{
    font-family: 'Nanum_R';
    src:url('NanumSquareR.ttf');
}
@font-face{
    font-family: 'Nanum_L';
    src: url('NanumSquareL.ttf');
}
@font-face{
    font-family: 'Nanum_B';
    src: url('NanumSquareB.ttf');
}
@font-face{
    font-family: 'Nanum_EB';
    src: url('NanumSquareEB.ttf');
}
@font-face{
    font-family: 'KoPub_R';
    src: url('KoPubBatang_mid.ttf');
}
@font-face{
    font-family: 'KoPub_L';
    src: url('KoPubBatang_light.ttf');
}
@font-face{
    font-family: 'KoPub_B';
    src: url('KopubBatang_bold.ttf');
}
@font-face{
    font-family: 'Gudea_R';
    src: url('Gudea_Regular.ttf');
}
@font-face{
    font-family: 'Gudea_B';
    src: url('Gudea_Bold.ttf');
}